.header {
  background-color: rgb(255, 255, 255);
  border-bottom: 4px solid #32be20;
  height: 48px;
}

.header_image {
  height: 36px;
  width: 36px;
  margin-left: 12px;
  transition: all 0.3s ease-in-out 0s;
}

.header_image:hover {
  cursor: pointer;
  transform: rotate(180deg);
  transition: all 0.3s ease-in-out 0s;
}

.brand {
  display: -webkit-flex;
  display: flex;
  align-items: center;
  font-size: 18px;
  font-weight: 500;
}
