.banner {
  //   background-color: rgb(80, 107, 124);
  padding: 32px;
  color: black; //fonts
  border-radius: 12px;
  //   border: 2px solid rgb(218, 218, 218);
  // width: 80%;
}

.playerName {
  font-size: 36px;
  font-weight: 600;
}

.quickStats {
  color: black;
  padding: 12px;
  border-radius: 8px;
  border: 1px solid rgb(218, 218, 218);
  text-align: center;
  background-color: white;
}

.quickStatsTitle {
  font-size: 28px;
  font-weight: 700;
  margin-bottom: 12px;
}

.highlightLabel {
  color: #aaa;
}
